@import url("https://fonts.googleapis.com/css2?family=Krub&family=Nunito:wght@300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: grid;
  height: 100vh;
  place-items: center;
  background: #100f13;
}
button {
  cursor: pointer;
  position: relative;
  padding: 22px 46px;
  font-size: 28px;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  transition: 0.4s;
}
button:hover {
  z-index: 1;
  border-color: transparent;
  background: linear-gradient(
    90deg,
    #40e0d0,
    #ff8c00,
    #ff0080,
    #1a2a6c,
    #b21f1f,
    #fdbb2d
  );
  background-size: 400%;
  box-shadow: 0 0 15px rgb(2, 4, 24);
  animation: glow 12s linear forwards;
}
@keyframes glow {
  from {
    background-position: 0%;
  }
  to {
    background-position: 140%;
  }
}
button::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background: inherit;
  filter: blur(36px);
  z-index: 1;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
button:hover::before {
  z-index: -1;
  opacity: 1;
}
